# Gradle
.gradle/
build/
app/build/
gradle-*/
*.zip

# Android
local.properties
*.apk
*.ap_
*.aab
*.iml
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# NE PAS ignorer : gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.jar
